In [1]:
import pandas as pd
import numpy as np
import textblob
from textblob import TextBlob
import re
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import cm
import warnings
warnings.simplefilter("ignore")
%matplotlib inline

matplotlib.rcParams['figure.figsize'] = [10,10]

In [2]:
trump_df = pd.read_csv("data/realDonaldTrump_tweets.csv")

In [3]:
#removes the 'b' infront of the tweets that indicate byte format
trump_df.text = trump_df.text.str.lstrip("b'")

In [4]:
#Saving that into a new csv
trump_df.to_csv("test.csv", index=False, encoding="utf-8")

In [5]:
#Checking the new csv
pd.read_csv("test.csv", encoding="utf-8").head()

,Unnamed: 0,id,created_at,text
0,0,1019545713435467776,2018-07-18 11:33:34,3.4 million jobs created since our great Elect...
1,1,1019544304853966853,2018-07-18 11:27:59,Some people HATE the fact that I got along wel...
2,2,1019538038651871233,2018-07-18 11:03:05,\xe2\x80\x9cA lot of Democrats wished they vot...
3,3,1019533312052858880,2018-07-18 10:44:18,Congratulations to Martha Roby of The Great St...
4,4,1019526399542091776,2018-07-18 10:16:50,....Russia has agreed to help with North Korea...

In [6]:
trump_df.dtypes

Unnamed: 0     int64
id             int64
created_at    object
text          object
dtype: object

Sentiment analysis, mainly based on the English words he types. Try and format the text into ASCII format.

In [23]:
#Try and clean the tweet text? Just keep the ascii- letter characters
def clean_tweet(text):
    """Function to clean the text of a tweet by removing links and special characters using regex"""
    return ''.join(re.sub("(@[A-Za-z]+)|([^A-Za-z \t])|(\w+:\/\/\S+)", " ", text))

In [24]:
#Try and access each tweet content, and clean it up
for tweet in trump_df.text:
    clean_tweet(tweet)

In [27]:
# New single columned data frame
new_trump_df = trump_df.text.apply(clean_tweet)

In [28]:
#only contains the clean text as a column
new_trump_df.head(10)

0        million jobs created since our great Elect...
1    Some people HATE the fact that I got along wel...
2     xe  x   x cA lot of Democrats wished they vot...
3    Congratulations to Martha Roby of The Great St...
4        Russia has agreed to help with North Korea...
5    While the NATO meeting in Brussels was an ackn...
6    So many people at the higher ends of intellige...
7     xe  x   x cProsperity is returning  Donald Tr...
8    The Democrats want to abolish ICE  which will ...
9    The meeting between President Putin and myself...
Name: text, dtype: object

In [30]:
#replacing the old data frame's text with the new text
trump_df['text'] = new_trump_df

In [31]:
trump_df.head(3)

,Unnamed: 0,id,created_at,text
0,0,1019545713435467776,2018-07-18 11:33:34,million jobs created since our great Elect...
1,1,1019544304853966853,2018-07-18 11:27:59,Some people HATE the fact that I got along wel...
2,2,1019538038651871233,2018-07-18 11:03:05,xe x x cA lot of Democrats wished they vot...